<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoSiriIntent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>DemoSiriIntentUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>KeyboardExtension.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>NotificationContent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>NotificationService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>iOSExtension.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>480A10CD1E8E66E0006201E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4830D6DF1E7A77DE00A0A869</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48515D351E7F87A500074DD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>489B9E6A1E8E6924004990E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>489B9E771E8E695E004990E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48C43F801E8B680300C7F4B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48C43F8F1E8B746E00C7F4B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48E47A421E91EE0C00B89E5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48E47A4B1E91EE0D00B89E5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
